body{
    padding: 0;
    margin: 0;
    }
body{
    padding: 0 0px;
    background-color: white;
}
.area1{
    width: 100%;
    height: 330px;
    background-color: blue;
    h1{
        text-align: center;
        color: white;
    }
    p{
        text-align: center;
        color: white;
    }
    .img1{
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 45%;
    }
}
.area2{
    padding: 0 50px;
    h2{
        margin: 40px 50px;
        font-size: 30px;
    }
    .p2{
        margin: -24px 130px;
        color: rgb(80, 86, 211);
        font-size: 20px;
    }
    .h2-1{
        margin: 40px 50px;
        font-size: 30px;
    }
    .p2-1{
        margin: -24px 70px;
        color: rgb(80, 86, 211);
        font-size: 20px;
    }
    .line{
        width: 100%;
        height: 2px;
        background-color: black;
    }
    
}
.area3{
    width: 100%;
    height: 600px;
    background-color: blue;
    padding: 10px 0;
    
    h3{
        text-align: center;
        color: white;  
        font-size: 30px;
    }
    .p3{
        color: white;
        font-size: 10px;
    }
    .line3{
        margin-left: 50px;
        width: 1365px;
        height: 2px;
        background-color: white;
    }
}
.area4{
    padding: 0 50px;
    h4{
        margin: 40px 50px;
        font-size: 30px;
    }
    .p4{
        margin: -24px 130px;
        color: rgb(80, 86, 211);
        font-size: 20px;
    }
    .line4{
        width: 100%;
        height: 2px;
        background-color: black;
    }
    ul{
        font-size: 30px;
    }
    .p4-1{
        margin:5px 0 15px 0;
        color: rgb(80, 86, 211);
        font-size: 20px;
    }
}